<article class="product">
  <h1><%= @product.name %></h1>
  <p><%= @product.description %></p>
  <%= select_tag :param_name, options_for_select(
      [['EUR', @product.price]]+@currency_rates.map{ |f| [f[:currency], f[:rate]] }),
                 {:onchange => "fetch_currency_rate(this, #{@product.id})"} %>
  <strong id="product_price"><%= @product.price %>EUR</strong>
  <%= link_to 'Shut up and take my money!', '#' %>
</article>

<%= link_to 'Back to product list', products_path %>
