<article class="product">
  <h1><%= @product.name %></h1>
  <p><%= @product.description %></p>
  <strong><%= @product.price %></strong>
  <%= link_to 'Shut up and take my money!', '#' %>
</article>

<%= link_to 'Back to product list', products_path %>
