<html>
  <head>
    <title>3scale marketplace</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag controller_name, media: 'all' if asset_present?("#{controller_name}.js") %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <main class="container">
      <%= yield %>
    </main>
  
    <footer class="footer">
      <div class="footer-left-side">
        <h1><b>© 2021 by you</b></h1>
      </div>

      <div class="footer-right-side">
        <p>
          <%= select_tag 'currency_types', options_for_select(["EUR"]+fetch_application_currency_types), 
                         {:id => "search-box-filter_31", :size => "2", :style => "font-size:16px; height:24px;"} %>
        </p>
        <h1><b>currency</b></h1>
      </div>
    </footer>
  </body>
</html>
